body {
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
#base {
    display: flex;
    #messages {
        border: 1px solid #ccc;
        padding: 10px;
        height: 400px;
        overflow-y: auto;
        background-color: #f9f9f9;
        width: 60%;
        .danmaku, .command {
            color: #333;
            padding: 5px;
            margin: 5px 0;
            transition: box-shadow 0.3s;
            display: flex;
            &:hover {
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                cursor: pointer;
            }

            .left {
                .face {
                    border-radius: 99999px;
                    width: 50px;
                }
            }
            .right {
                display: flex;
                flex-direction: column;
                margin-left: 10px;
                .rank {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
        .gift {
            color: #f39c12;
            display: flex;
            .left {
                .face {
                    border-radius: 99999px;
                    width: 50px;
                }
            }
            .right {
                display: flex;
                flex-direction: column;
                margin-left: 10px;
            }
        }

    }
    #baseRight {
        background-color: #fff;
        width: 35%;
        height: 400px;
        #selectedMessage {
            border: 1px solid #ccc;
            padding: 20px;
            background-color: #fff;
            width: 100%;
            height: 179px;
            overflow-y: auto;
        }
        .sendDefault {
            width: 100%;
            height: 159px;
            padding: 20px;
            border: #333333 solid 1px;
            --input-width: 40%;
            &:before {
                content: "模拟选择";
            }
            .sendDanmaku {
                margin: 5px 0;
                #sendDanmakuText {
                    width: var(--input-width);
                }
                #sendDanmakuButton {
                    border: #038503 solid 1px;
                    border-radius: 5px;
                    background-color: #03b903;
                }
            }
            .sendGift {
                --gift-num-width: 30px;
                --times-width: 9px;
                margin: 5px 0;
                #sendGiftText {
                    width: calc(var(--input-width) - var(--gift-num-width) - 16px - var(--times-width));
                }
                .times {
                    width: var(--times-width);
                    &:before {
                        content: "x";
                    }
                }
                #sendGiftNum {
                    width: var(--gift-num-width);
                }
                #sendGiftButton {
                    border: #038503 solid 1px;
                    border-radius: 5px;
                    background-color: #03b903;
                }
            }
            .sendGuard {
                --guard-num-width: 30px;
                --times-width: 9px;
                margin: 5px 0;
                #sendGuardText {
                    width: calc(var(--input-width) - var(--guard-num-width) - 16px - var(--times-width));
                }
                .times {
                    width: var(--times-width);
                    &:before {
                        content: "x";
                    }
                }
                #sendGuardNum {
                    width: var(--guard-num-width);
                }
                #sendGuardButton {
                    border: #038503 solid 1px;
                    border-radius: 5px;
                    background-color: #03b903;
                }
            }
            //.sendButton {
            //    border: #038503 solid 1px;
            //    border-radius: 5px;
            //    background-color: #03b903;
            //}
        }
    }

}




#selectedMessageDisplay {
    position: relative;
    .selectedDanmaku {
        display: flex;
        margin: 30px 10px;
        position: absolute;
        top: 0;
        .left {
            --face-size: 50px;
            .face {
                width: var(--face-size);
                height: var(--face-size);
                border: #000000 solid 2px;
                border-radius: 99999px;
                img {
                    border-radius: 99999px;
                    width: var(--face-size);
                    height: var(--face-size);
                }
            }
        }
        .right {
            position: relative;
            min-width: 300px;
            margin: 0 0 0 20px;
            .uname {
                --uname-size: 14px;
                --uname-color-fg: #0000aa;
                --uname-color-bg: #0eb2b0;
                --uname-color-border: #12cbc9;
                font-size: var(--uname-size);
                display: inline;
                position: absolute;
                color: var(--uname-color-fg);
                background-color: var(--uname-color-bg);
                top: -8px;
                left: 2px;
                border: var(--uname-color-border) solid 1px;
                border-radius: 3px;
                padding: 1px 5px;
                z-index: 10;
            }
            .content {
                --content-color-fg: red;
                --content-color-bg: #0eb2b0;
                position: absolute;
                color: var(--content-color-fg);
                background-color: var(--content-color-bg);
                top: 10px;
                border: var(--content-color-bg) solid 1px;
                border-radius: 5px;
                padding: 10px 20px;
                z-index: 9;
                max-width: 280px;
                // 换行
                word-break: break-all;
            }
        }
    }

}

// 从下到上淡入，贝塞尔曲线进入
@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(100px); }
    100% { opacity: 1; transform: translateY(0); }
}

// 从上到下淡出，贝塞尔曲线离开
@keyframes fadeOut {
    0% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-100px); }
}

// 淡入淡出动画
.fadeIn {
    animation: fadeIn 0.5s ease-out;
}

.fadeOut {
    animation: fadeOut 0.5s ease-out;
}