@charset "UTF-8";
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#base {
  display: flex;
}
#base #messages {
  border: 1px solid #ccc;
  padding: 10px;
  height: 400px;
  overflow-y: auto;
  background-color: #f9f9f9;
  width: 60%;
}
#base #messages .danmaku {
  color: #333;
  padding: 5px;
  margin: 5px 0;
  transition: box-shadow 0.3s;
  display: flex;
}
#base #messages .danmaku:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
#base #messages .danmaku .left .face {
  border-radius: 99999px;
  width: 50px;
}
#base #messages .danmaku .right {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
#base #messages .gift {
  color: #f39c12;
  display: flex;
}
#base #messages .gift .left .face {
  border-radius: 99999px;
  width: 50px;
}
#base #messages .gift .right {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
#base #baseRight {
  background-color: #fff;
  width: 35%;
  height: 400px;
}
#base #baseRight #selectedMessage {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #fff;
  width: 100%;
  height: 179px;
  overflow-y: auto;
}
#base #baseRight .sendDefault {
  width: 100%;
  height: 159px;
  padding: 20px;
  border: #333333 solid 1px;
  --input-width: 40%;
}
#base #baseRight .sendDefault:before {
  content: "模拟选择";
}
#base #baseRight .sendDefault .sendDanmaku {
  margin: 5px 0;
}
#base #baseRight .sendDefault .sendDanmaku #sendDanmakuText {
  width: var(--input-width);
}
#base #baseRight .sendDefault .sendDanmaku #sendDanmakuButton {
  border: #038503 solid 1px;
  border-radius: 5px;
  background-color: #03b903;
}
#base #baseRight .sendDefault .sendGift {
  --gift-num-width: 30px;
  --times-width: 9px;
  margin: 5px 0;
}
#base #baseRight .sendDefault .sendGift #sendGiftText {
  width: calc(var(--input-width) - var(--gift-num-width) - 16px - var(--times-width));
}
#base #baseRight .sendDefault .sendGift .times {
  width: var(--times-width);
}
#base #baseRight .sendDefault .sendGift .times:before {
  content: "x";
}
#base #baseRight .sendDefault .sendGift #sendGiftNum {
  width: var(--gift-num-width);
}
#base #baseRight .sendDefault .sendGift #sendGiftButton {
  border: #038503 solid 1px;
  border-radius: 5px;
  background-color: #03b903;
}
#base #baseRight .sendDefault #sendButton {
  border: #038503 solid 1px;
  border-radius: 5px;
  background-color: #03b903;
}

#selectedMessageDisplay {
  position: relative;
}
#selectedMessageDisplay .selectedDanmaku {
  display: flex;
  margin: 30px 10px;
  position: absolute;
  top: 0;
}
#selectedMessageDisplay .selectedDanmaku .left {
  --face-size: 50px;
}
#selectedMessageDisplay .selectedDanmaku .left .face {
  width: var(--face-size);
  height: var(--face-size);
  border: #000000 solid 2px;
  border-radius: 99999px;
}
#selectedMessageDisplay .selectedDanmaku .left .face img {
  border-radius: 99999px;
  width: var(--face-size);
  height: var(--face-size);
}
#selectedMessageDisplay .selectedDanmaku .right {
  position: relative;
  min-width: 300px;
  margin: 0 0 0 20px;
}
#selectedMessageDisplay .selectedDanmaku .right .uname {
  --uname-size: 14px;
  --uname-color-fg: #0000aa;
  --uname-color-bg: #0eb2b0;
  --uname-color-border: #12cbc9;
  font-size: var(--uname-size);
  display: inline;
  position: absolute;
  color: var(--uname-color-fg);
  background-color: var(--uname-color-bg);
  top: -8px;
  left: 2px;
  border: var(--uname-color-border) solid 1px;
  border-radius: 3px;
  padding: 1px 5px;
  z-index: 10;
}
#selectedMessageDisplay .selectedDanmaku .right .content {
  --content-color-fg: red;
  --content-color-bg: #0eb2b0;
  position: absolute;
  color: var(--content-color-fg);
  background-color: var(--content-color-bg);
  top: 10px;
  border: var(--content-color-bg) solid 1px;
  border-radius: 5px;
  padding: 10px 20px;
  z-index: 9;
  max-width: 280px;
  word-break: break-all;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}
.fadeIn {
  animation: fadeIn 0.5s ease-out;
}

.fadeOut {
  animation: fadeOut 0.5s ease-out;
}

/*# sourceMappingURL=styles.css.map */
